IMAP_HOST=imaps.aruba.it
IMAP_USER=hr@impresacingoli.it
IMAP_PASS=changeme
SAVE_DIR=/mnt/nas_curriculum/mail2pdf
SMTP_HOST=smtp.aruba.it
SMTP_PORT=465
SMTP_USER=notifiche@impresacingoli.it
SMTP_PASS=changeme
RETENTION_DAYS=90
